

html {
  min-width: 100%;
  min-height: 100%;
}
body {
  background: white;
  //background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(240, 40, 102, 0.8));
  min-width: 100%;
  min-height: 100%;
}

.container {
  //background: rgba(240, 40, 102, 1);
  padding: 0;
}

nav {
  background: black;
}

.footer {
  background: black;
}

.icon {
  width: 50px;
  height: auto;
  object-fit: contain;
  color: white;
}
