@import "partials/header";
@import "partials/footer";
@import "partials/flip-card";




html {
  min-width: 100%;
  min-height: 100%;

  body {
    background: white;
    min-width: 100%;
    min-height: 100%;

    .pink {
      color: #EF2961;
    }

    .btn-pink {
      background-color: #212529;
      border-color: #212529;
      color: white;
      &:hover {
      background-color: #EF2961;
      border-color: #EF2961;
      color: #212529;
      }
    }

    // BREADCRUMBS ON ALL PAGES
    #breadcrumbs {
      a {
        color: #EF2961;
        text-decoration: none;
      }

      //
      //strong.breadcrumb_last {
      //  color: #EF2961;
      //}
    }
  }


  // FRONT PAGE
  .front-page {

    // IMAGE FRONT PAGE & MEDIA QUERY
    .img-front {
      &.wp-post-image {
        width: 100%;
        height: 600px;
        object-fit: cover;

      }

      @media screen and (max-width: 1350px) {
        &.wp-post-image {
          width: 100%;
          height: 450px;
          object-fit: cover;
        }
      }

      @media screen and (max-width: 1150px) {
        &.wp-post-image {
          width: 100%;
          height: 350px;
          object-fit: cover;
        }
      }

      @media screen and (max-width: 950px) {
        &.wp-post-image {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }
    }

    .container-front-page {
      width: 100%;
      padding-right: 150px;
      padding-left: 150px;
      margin-right: auto;
      margin-left: auto;

      .marge-20 {
        margin: 20px 20px;
      }
    }
  }
}







